/* Paleta de Colores */
.color1 { color: #000000 };
.color2 { color: #7890a8 };
.color3 { color: #304878 };
.color4 { color: #181848 };
.color5 { color: #f0a818 };

.app-container {
  padding: 30;
}

.app-login-wrapper {
  background-color: #fff;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
}

.ant-card-body {
  flex: 1;
  padding: 10px;
}

.ant-input {
  border-radius: 6px;
}

.app-login-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10%;
  left: 34%;
  background-color: #fff;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  z-index: 2;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.app-login-bg {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.app-login-bg div {
  margin: auto;
  display: block;
}

.app-login-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(5 5 5 / 60%);
}

.app-login-bg img {
  object-fit: cover;
  width: 100%;
}

.app-login-title {
  font-size: 1.3rem;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  padding-bottom: .5rem;
  border-top: #eee;
  margin-bottom: 5px;
  align-items: center;
}

.app-login-subtitle {
  font-size: .9rem;
  font-weight: 400;
  color:rgb(5 5 5 / 60%);
  margin-bottom: 5px;
  align-items: center;
}

.app-login-footer {
  margin-top: 0px;
  font-size: 11px;
  margin-bottom: -5px;
  text-align: center;
}

.ant-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ant-btn-primary {
  border-color: #f0a818;
  background: #f0a818;
  color: #fff;
}

.ant-btn-primary:hover {
  border-color: #f7d38b;
  background: #f7d38b;
  color: #fff;
}

.ant-col-12 {
  flex: unset;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: 5px 0;
  font-size: 12px;
}

.icon-google {
  border-radius: '50%';
}

.icon-facebook {
  border-radius: '50%';
}

.ant-col {
  margin: 0 auto;
}

.main-col {
  margin-top: 15vh;
}

.ant-row .ant-row-center {
  margin-top: 10vh !important;
}

@media screen and (max-width:575px){
  .app-container {
    margin: auto !important;
  }

  .ant-row-center {
    margin: auto !important;
  }

  .ant-col {
    margin: auto;
  }

  .main-col {
    margin: 10vh auto !important;
  }
}